/* .quiz-container {
    width: 80%;
    margin: 40px auto;
    text-align: center; 
    background-color:greenyellow;
  }
   */
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .quiz-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 600px;
   padding: 20px 10%;
   background: purple;
  

   
   }
   .quiz-container h1{
    font-size: xx-large;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0,0,0,.3);
   }
  #question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 80%;
    height: 45px;
    background-color:rgb(161, 26, 161);
    margin-top: 30px;
    padding-left: 20px;
    font-style: italic;
  }
  
  #options {
    list-style: none;
    padding-left: 30px;
    margin: 0;
    font-style: italic;
    
  }
  
  #options li {
    margin-bottom: 10px;
    width: 50%;
    height:45px;
    background-color:rgb(101, 5, 101);
    text-align: center;
    color: #fff;
    font-weight: 600;text-shadow: 5px 5px 10px rgb(97, 15, 97);
    padding: 15px;
    margin-left: 80px;
  }
  #option:hover {
    background-color: #fff;
  }
  
  #submit-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 320px;
  }
  
  #submit-btn:hover {
    background-color: #3e8e41;
}

#result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

